<section class="container-fluid header-bgimage header-section-space" id="home">
    <div class="container">
        <div class="col-md-12 column-center no-padding">
            <p class="center h1-white-text header-head-mar header-head1">You are invited to</p>
            <h1 class="center h1-white-text header-head2">Summer Campmeeting</h1>
            <h2 class="center h1-white-text header-head-mar header-head1">July 26 - 30, 2023</h2>
            <div class="center btn-top">
                <a href="https://gpbc.ca/events/campmeeting.html">
                    <div class="btn-3">MORE INFO</div>
                </a>
            </div>
        </div>
    </div>
</section>