<ul class="sermon-list">
    <h3 class="sm-h3">Summer Meeting 2024 Audio</h3>
    <p><a href="https://stream.redcircle.com/episodes/9f41b36e-472b-4c28-bdcb-307b6e4535f3/stream.mp3" target="_blank">Are You Blind or Are You Blind or Are You Blind?</a> - Evangelist Sam Gipp<br>
    <a href="https://stream.redcircle.com/episodes/a294ef98-9ca0-409d-a410-8990a923098d/stream.mp3" target="_blank">Waiting on the Lord</a> - Evangelist Sam Gipp<br>
    <a href="https://stream.redcircle.com/episodes/e6e18530-321b-4ed8-aec4-19f06bf306df/stream.mp3" target="_blank"></a>Why You Backslide - Evangelist Sam Gipp<br>
    <a href="https://stream.redcircle.com/episodes/3ee2ab6b-2440-49d4-b005-d64997e3c5d0/stream.mp3" target="_blank">It's All About You</a> - Evangelist Sam Gipp<br>
    <a href="https://stream.redcircle.com/episodes/2b8dbad4-9cb0-461e-bf67-5e631520bc29/stream.mp3" target="_blank">Why You Desperately Need to Be in Church</a> - Evangelist Sam Gipp<br>
    <a href="https://stream.redcircle.com/episodes/61a225b5-6a24-4acf-8b66-065804119c02/stream.mp3" target="_blank">The Most Unvisible Man in the Bible
    </a> - Evangelist Sam Gipp</p>
    
    <h3 class="sm-h3">Summer Meeting 2024 Video</h3>
    <p><a href="https://www.youtube.com/watch?v=n0VRm7RRNmw&list=PLDUBFgkFZ8Xf8ncEeI8HwkFh3l6G1tQ0x" target="_blank">YouTube Playlist</a></p>

    <h3 class="sm-h3">Previous Campmeetings</h3>
    <p><a href="https://www.youtube.com/playlist?list=PLDUBFgkFZ8XdvIM8vufGGCVmlhg_1Tht_"
        target="_blank">Campmeeting 2023 Video</a><br>
    <a href="https://www.youtube.com/playlist?list=PLDUBFgkFZ8Xcr9h5m6e7FDjNGB6TaJHnb">Campmeeting 2022 Video</a></p>
    <p><a href="{{site.baseurl}}/media/summer-campmeeting-audio.html">All Campmeeting Audio 2017- Present</a></p>
</ul>