<ul class="sermon-list">
    <h3 class="sm-h3">Campmeeting 2023 Audio</h3>
    <p><a href="https://stream.redcircle.com/episodes/33b12401-ee28-474e-a328-e7ebcff8a76c/stream.mp3" target="_blank">Biblical Holiness</a> - Pastor Andrew Ray<br>
    <a href="https://stream.redcircle.com/episodes/dbb0858c-6e6d-41a8-b066-658bffedae4f/stream.mp3" target="_blank">What to Do When You Hit a Wall</a> - Pastor Danny Farley<br>
    <a href="https://stream.redcircle.com/episodes/6968ba87-8e30-4406-9b25-292c30cf1f97/stream.mp3" target="_blank">How to Miss the Will of God</a> - Pastor Danny Farley<br>
    <a href="https://stream.redcircle.com/episodes/2da512fa-00a2-4630-916d-2403c115936d/stream.mp3" target="_blank">Close the Gap</a> - Pastor Andrew Ray<br>
    <a href="https://stream.redcircle.com/episodes/9c1e0757-a4d7-44c0-93b1-7c3bd0f750f6/stream.mp3" target="_blank">Making All Things New</a> - Pastor Danny Farley<br>
    <a href="https://stream.redcircle.com/episodes/6825a522-905e-4f65-889f-52fda4558ec4/stream.mp3" target="_blank">Fight the Good Fight</a> - Pastor Brandon Lake<br>
    <a href="https://stream.redcircle.com/episodes/462d05b9-5c58-45a9-a652-096200a22913/stream.mp3">Question & Answer Session #1</a> - Pastor Danny Farley<br>
    <a href="https://stream.redcircle.com/episodes/0e75ea4a-2a87-4f85-bbc3-22e53c29ef0f/stream.mp3">A Good Christian Testimony</a> - Pastor Brandon Lake<br>
    <a href="https://stream.redcircle.com/episodes/0a64d28c-d329-4363-95ba-1807a7b5d2ef/stream.mp3">When Hurt Comes</a> - Pastor Andrew Ray<br>
    <a href="https://stream.redcircle.com/episodes/a0ffc9ad-d7c8-49f8-80ee-70240e280020/stream.mp3" target="_blank">The Chariots of Amminadib</a> - Pastor Danny Farley<br>
    <a href="https://stream.redcircle.com/episodes/6f61e553-b77f-4f92-9430-d1ee08260481/stream.mp3" target="_blank">Question & Answer Session #2</a> - Pastor Andrew Ray & Pastor Brandon Lake<br>
    <a href="https://stream.redcircle.com/episodes/67268219-0793-47f7-bc40-a12636fa8ebc/stream.mp3" target="_blank">I Just Want to Please the Lord</a> - Pastor Brandon Lake<br>
    <a href="https://stream.redcircle.com/episodes/8c3f15cc-55a1-4044-81d5-824ca69aec8a/stream.mp3" target="_blank">Seducing Spirits</a> - Pastor Andrew Ray<br>
    <a href="https://stream.redcircle.com/episodes/6cabb4ae-0ba8-4bce-8635-e027b515720f/stream.mp3" target="_blank">The World Is Getting Worse - What Are You Going to Do About It?</a> - Pastor Andrew Ray<br>
    <a href="https://stream.redcircle.com/episodes/62456be3-8e16-4bd6-87cc-8f09454ecd38/stream.mp3" target="_blank">Is Your Life a Question Mark or a Period?</a> - Pastor Brandon Lake
    </p>
    
    <h3 class="sm-h3">Campmeeting 2023 Videos</h3>
    <p><a href="https://www.youtube.com/playlist?list=PLDUBFgkFZ8XdvIM8vufGGCVmlhg_1Tht_"
            target="_blank">Youtube Playlist</a></p>
    <h3 class="sm-h3">Previous Campmeetings</h3>
    <p><a href="https://www.youtube.com/playlist?list=PLDUBFgkFZ8Xcr9h5m6e7FDjNGB6TaJHnb">Campmeeting 2022 Videos</a><br>
    <a href="{{site.baseurl}}/media/summer-campmeeting-audio.html">All Campmeeting Audio 2017- Present</a></p>
</ul>