<section class="container-fluid cta-bgimage cta-section-space" id="donate">
    <div class="container">
        <div class="col-md-10 column-center no-padding">
            <h1 class="center h1-white-text cta-head-bottom">help to charity</h1>
            <p class="center p-white-text">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu.Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>

           <div class="center btn-top">
                <a href="#fadeandscale">
                    <div class="btn-1 fadeandscale_open">DONATE NOW</div>
                </a>
            </div>
        </div>
    </div>
</section>