<section class="container-fluid section-space section-bg-2">
    <div class="container">
        <h1 class="center">our environment</h1>
        <div class="center no-fs underline-bottom">
            <img src="{{site.baseurl}}/assets/images/uline.png" alt="uline" class="image-center" />
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="center image-bottom">
                    <img src="images/750x400x1.jpg" alt="750x400x1" class="img-responsive" />
                </div>
                <h2 class="center h2-bottom"><a href="#">prayer</a></h2>
                <div class="col-md-10 column-center no-padding">
                    <p class="center common-res-bottom">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit. End of content.</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="center image-bottom">
                    <img src="images/750x400x2.jpg" alt="750x400x2" class="img-responsive" />
                </div>
                <h2 class="center h2-bottom"><a href="#">worship</a></h2>
                <div class="col-md-10 column-center no-padding">
                    <p class="center common-res-bottom">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit. End of content.</p>
                </div>
            </div>
        </div>
    </div>
</section>