<section class="container-fluid section-space section-bg-1">
    <div class="container">
        <h1 class="center">upcoming events</h1>
        <div class="center no-fs underline-bottom">
            <img src="images/uline.png" alt="uline" class="image-center" />
        </div>
        <div class="row common-row-space">
            <div class="col-md-2 col-sm-3 col-xs-4 upcoming-res-bottom event-fixed">
                <div class="upcoming-events-bg events-shadow">
                    <p class="center events-num">02</p>
                    <h2 class="center">FEB</h2>
                </div>
            </div>

            <div class="col-md-4 col-sm-9 col-xs-8 common-fixed-full upcoming-res-bottom-1">
                <div>
                    <h2 class="left h2-bottom res-text-center-2"><a href="#">heading</a></h2>
                    <p class="left res-text-center-2">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper </p>
                </div>
            </div>
            
             <div class="col-md-2 col-sm-3 col-xs-4 upcoming-clear event-fixed ">
                <div class="upcoming-events-bg events-shadow">
                    <p class="center events-num">23</p>
                    <h2 class="center">FEB</h2>
                </div>
            </div>

            <div class="col-md-4 col-sm-9 col-xs-8 common-fixed-full">
                <div>
                    <h2 class="left h2-bottom res-text-center-2"><a href="#">heading</a></h2>
                    <p class="left res-text-center-2">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper</p>
                </div>
            </div>
        </div>

        <div class="row">
           <div class="col-md-2 col-sm-3 col-xs-4 upcoming-res-bottom event-fixed">
                <div class="upcoming-events-bg events-shadow">
                    <p class="center events-num">15</p>
                    <h2 class="center">MAR</h2>
                </div>
            </div>

            <div class="col-md-4 col-sm-9 col-xs-8 common-fixed-full upcoming-res-bottom-1">
                <div>
                    <h2 class="left h2-bottom res-text-center-2"><a href="#">heading</a></h2>
                    <p class="left res-text-center-2">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper</p>
                </div>
            </div>
            
             <div class="col-md-2 col-sm-3 col-xs-4 upcoming-clear event-fixed">
                <div class="upcoming-events-bg events-shadow">
                    <p class="center events-num">30</p>
                    <h2 class="center">MAR</h2>
                </div>
            </div>

            <div class="col-md-4 col-sm-9 col-xs-8 common-fixed-full">
                <div>
                    <h2 class="left h2-bottom res-text-center-2"><a href="#">heading</a></h2>
                    <p class="left res-text-center-2">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper</p>
                </div>
            </div>
        </div>

    </div>
</section>