<section class="container-fluid section-space footer-bg">
    <div class="container">
        <div class="row single footer-text">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 footer-break-bottom">
                <h2 class="center">Location</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27193.558589178312!2d-98.31479870865091!3d49.986253234634766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52e9c647a6ebcc2f%3A0xc55d8cbcfb516cb4!2sGolden%20Plains%20Baptist%20Church!5e0!3m2!1sen!2sca!4v1685166594915!5m2!1sen!2sca" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12s">
                <div>
                    <h2>Address</h2>
                    <p>P.O. Box 471, 1201 Tupper St. N
                    <br>Portage la Prairie, MB  R1N 3B7</p>
                    <p class="sm-p">Mailed correspondence must include the PO Box 471 or it won't be delivered.</p>
                    <div class="social-links">
                    <h2>Phone</h2>
                    <p><a href="tel:12048576741">1 (204) 857-6741</a></p>
                    <h2>Email </h2>
                    <p><a href="mailto:gpbc@mymts.net">gpbc@mymts.net</a></p>
                    </div>
                </div>
            </div>
            
            <div class="clearfix visible-sm"></div>

            <div class="offset-lg-1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div>
                    <div class="services-footer footer-links">
                        <h2>Quick Links</h2>
                        <ul>
                            <li><a href="{{site.baseurl}}/services.html">Services & Ministries</a></li>
                            <li><a href="{{site.baseurl}}/events/campmeeting.html">Campmeeting</a></li>
                            <li><a href="{{site.baseurl}}/events/teen-lightning.html">Teen Lightning</a></li>
                            <li><a href="{{site.baseurl}}/events/fall-revival.html">Fall Revival</a></li>
                            <li><a href="https://bigdealkjv.com">What's the Big Deal About the KJV Bible?</a></li>
                            <li><a href="{{site.baseurl}}/download-bible.html">Download a Bible</a></li>
                            <li><a href="{{site.baseurl}}/salvation.html">How to Get to Heaven</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 social-links">
                <div>
                    <h2>Find Us On</h2>
                    <p><a href="https://youtube.com/c/GoldenPlainsBaptistChurch/videos" target="_blank"><i class="fa-brands fa-youtube fa-xl fa-fw"></i> YouTube</a></p>
                    <!--p><i class="fa-solid fa-headphones fa-xl fa-fw"></i> Audio Sermons on SermonAudio.com</p-->
                    <p><a href="https://instagram.com/goldenplainsbaptist/" target="_blank"><i class="fa-brands fa-instagram fa-xl fa-fw"></i> Instagram</a></p>
                    <p><a href="https://facebook.com/goldenplainsbaptistchurch/" target="_blank"><i class="fa-brands fa-facebook fa-xl fa-fw"></i> Facebook</a></p>
                </div>
            </div>
        </div>

        <div class="footer-br footer-br-bottom"></div>
        <p class="center site-generator ls">&copy; {{ 'now' | date: "%Y" }} Golden Plains Baptist Church, All Rights Reserved</p>
    </div>
</section>