<section class="container-fluid header-bgimage-campmeeting header-section-space" id="home">
    <div class="container">
        <div class="col-md-12 column-center no-padding">
            <p class="center h1-white-text header-head-mar header-head1"></p>
            <h1 class="center h1-white-text header-head2">Summer Meeting Recordings</h1>
            <h2 class="center h1-white-text header-head-mar header-head1">Now available</h2>
            <div class="center btn-top">
                <a href="https://gpbc.ca/events/campmeeting.html">
                    <div class="btn-3">Watch or Listen</div>
                </a>
            </div>
        </div>
    </div>
</section>