<section class="container-fluid section-space section-bg-1">
    <div class="container">
        <h1 class="center">ministries</h1>
        <div class="center no-fs underline-bottom">
            <img src="images/uline.png" alt="uline" class="image-center" />
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 common-res-bottom">
                <div class="left image-bottom">
                    <img src="images/600x400x1.jpg" alt="image" class="img-responsive res-image" />
                </div>
                <h2 class="left h2-bottom"><a href="#">children</a></h2>
                <p class="left">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit. End of content.</p>
            </div>

            <div class="col-md-4 col-sm-4 common-res-bottom">
                <div class="left image-bottom">
                    <img src="images/600x400x2.jpg" alt="image" class="img-responsive res-image" />
                </div>
                <h2 class="left h2-bottom"><a href="#">youth</a></h2>
                <p class="left">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit. End of content.</p>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="left image-bottom">
                    <img src="images/600x400x3.jpg" alt="image" class="img-responsive res-image" />
                </div>
                <h2 class="left h2-bottom"><a href="#">prison</a></h2>
                <p class="left">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit. End of content.</p>
            </div>

        </div>
    </div>
</section>