<section class="container-fluid section-space section-bg-1" id="schedule">
    <div class="container">
        <h2 class="center">Recent Audio</h2>
        {% if page.title == "Home" %}
        <div class="center no-fs underline-bottom">
            <img src="{{site.baseurl}}/assets/images/uline.png" alt="uline" class="image-center" />
        </div>
        {% endif %}
        
        <div class="row common-row-space">
            <!--div class="col-xs-12 col-lg-8">
                <https://widget.justcast.com
                <iframe src='https://widget.justcast.com/widget?rss=https://feeds.redcircle.com/032429d8-43d4-4813-9965-b9ceab2ff7f5?_gl=1*18sczwr*_gcl_au*MTc5NjQxNjAyNC4xNjg0NzM2Nzk3*_ga*MTU0ODk0NzE2NS4xNjg2NTkwMzcx*_ga_KVZ47LYJWW*MTY4NjY3NzA0OC40LjEuMTY4NjY3ODQyMi4wLjAuMA..&primaryBackgroundColor=f1c40f&primaryButtonColor=337ab7&primaryTextColor=4a4a4a&progressBarFilledColor=f7f8f9&progressBarBackgroundColor=8A8175&playlistBackgroundColor=ffffff&playlistTextColor=000000&chapterBackgroundColor=30343c&chapterTextColor=f7f8f9' frameborder='0' scrolling='yes' seamless='true' style="aspect-ratio: 4 / 3; width: 100%; border:none;"></iframe>
            </div-->
            <div class="col-xs-12 col-md-8">
                <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;border-radius:10px;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.podcasts.apple.com/us/podcast/through-his-word/id563104270"></iframe>
            </div>
            <div class="col-xs-12 col-md-4">
                <h3>Recent Series</h3>
                <ul class="link-list">
                    <li><a href="message-series/rules-of-bible-interpretation.html">Rules of Bible Interpretation</a> (Audio)</li>
                    <li style="padding: 0px;"><a href="https://gpbc.ca/media/message-series/mark.html">The Gospel of Mark</a> (Audio &amp; Video)</li>
                    <li style="padding: 0px;"><a href="https://gpbc.ca/media/message-series/hebrews.html">The Book of Hebrews</a> (Audio &amp; Video)</li>
                    <li style="padding: 0px;"><a href="https://gpbc.ca/media/message-series/why-we-are-not.html">Why We Are Not</a> (Audio)</li>
                </ul>

                <p class="lead" style="margin-top: 24px;">Subscribe to the podcast</p>
                <ul class="link-list">
                    <li><a href="https://podcasts.apple.com/us/podcast/through-his-word/id563104270" target="_blank"><i class="fa-brands fa-apple fa-xl fa-fw"></i> Apple Podcasts</a></li>
                    <li><a href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkcy5yZWRjaXJjbGUuY29tLzAzMjQyOWQ4LTQzZDQtNDgxMy05OTY1LWI5Y2VhYjJmZjdmNQ" target="_blank"><i class="fa-brands fa-google fa-xl fa-fw"></i> Google Podcasts</a></li>
                    <li><a href="https://open.spotify.com/show/0bfGA7VhTHJNeT8Hdkq22t" target="_blank"><i class="fa-brands fa-spotify fa-xl fa-fw"></i> Spotify</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>