<section class="container-fluid section-space section-bg-1" id="schedule">
    <div class="container">
        <h2 class="center">Recent Videos</h2>
        {% if page.title == "Home" %}
        <div class="center no-fs underline-bottom">
            <img src="{{site.baseurl}}/assets/images/uline.png" alt="uline" class="image-center" />
        </div>
        {% endif %}
        <div class="row common-row-space">
            <div class="col-sm-6">
                <iframe src="https://www.youtube.com/embed/b7gvZcMVUns" title="YouTube video player" frameborder="0" style="aspect-ratio: 16 / 9; width: 100%;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-sm-6">
                <iframe src="https://www.youtube.com/embed/qDAXWPsiHGg" title="YouTube video player" frameborder="0" style="aspect-ratio: 16 / 9; width: 100%;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

            <!--div class="col-sm-6">
                <noscript>JavaScript must be enabled to load the embedded video.</noscript>
                <iframe class="latestVideoEmbed" vnum='0' style="aspect-ratio: 16 / 9; width: 100%;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div-->
            <div class="col-sm-12">
                <p class="lead center"><a href="https://youtube.com/c/GoldenPlainsBaptistChurch/videos" target="_blank"><i class="fa-brands fa-youtube fa-xl fa-fw"></i> Find more videos on our YouTube Channel</a></p>
            </div>
        </div>
    </div>
</section>
