<section class="container-fluid section-space section-bg-1" id="schedule">
    <div class="container">
        <h1 class="center">church schedule</h1>
        <div class="center no-fs underline-bottom">
            <img src="images/uline.png" alt="uline" class="image-center" />
        </div>
        <div class="row common-row-space">
            <div class="center col-md-10 column-center no-padding schedule-res-center">
                <div class="col-md-6">
                    <div class="res-image-bottom-1 res-image-bottom">
                        <img src="images/500x370x1.jpg" alt="image" class="img-responsive left image-center" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        <p class="left uline-sec-time res-text-center-1">09.00AM - 10.30AM</p>
                        <h2 class="left h2-bottom res-text-center-1"><a href="#">god bless you child</a></h2>
                        
                        <p class="left p-bottom res-text-center-1">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit. End of content. Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

                        <p class="left res-text-center-1">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit. End of content. Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row common-row-space">
            <div class="center col-md-10 column-center no-padding schedule-res-center">
            <div class="col-md-6">
                <div class="res-image-bottom-1 res-image-bottom">
                    <img src="images/500x370x2.jpg" alt="image" class="img-responsive left image-center" />
                </div>
            </div>

            <div class="col-md-6">
                <div>
                    <p class="left uline-sec-time res-text-center-1">10.30AM - 11.30AM</p>
                    <h2 class="left h2-bottom res-text-center-1"><a href="#">sermon of the week</a></h2>
                   
                    <p class="left p-bottom res-text-center-1">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit. End of content. Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

                    <p class="left res-text-center-1">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit. End of content. Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                </div>
            </div>
             </div>
        </div>

        <div class="row">
            <div class="center col-md-10 column-center no-padding schedule-res-center">
            <div class="col-md-6">
                <div class="res-image-bottom-1 res-image-bottom">
                    <img src="images/500x370x3.jpg" alt="image" class="img-responsive left image-center" />
                </div>
            </div>

            <div class="col-md-6">
                <div>
                    <p class="left uline-sec-time res-text-center-1">11.30AM - 12.30PM</p>
                    <h2 class="left h2-bottom res-text-center-1"><a href="#">right from the heart</a></h2>
                  
                    <p class="left p-bottom res-text-center-1">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit. End of content. Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

                    <p class="left res-text-center-1">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit. End of content. Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                </div>
            </div>
             </div>
        </div>
    </div>
</section>