<section class="container-fluid section-space section-bg-1" id="services">
    <div class="container">
        <h1 class="center">our services</h1>
        <div class="center no-fs underline-bottom">
            <img src="images/uline.png" alt="uline" class="image-center" />
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="services-icon">
                    <img src="images/64x64x1.png" alt="64x64x1" />
                </div>
                <div class="services-pad services-bottom">
                    <h2 class="left h2-bottom"><a href="#">baptism</a></h2>
                    <p class="left">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.</p>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">

                <div class="services-icon">
                    <img src="images/64x64x2.png" alt="64x64x2" />
                </div>
                <div class="services-pad services-bottom">
                    <h2 class="left h2-bottom"><a href="#">weddings</a></h2>
                    <p class="left">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="services-icon">
                    <img src="images/64x64x3.png" alt="64x64x3" />
                </div>
                <div class="services-pad services-bottom">
                    <h2 class="left h2-bottom"><a href="#">education</a></h2>
                    <p class="left">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.</p>
                </div>
               
            </div>
            
            <div class="col-md-4 col-sm-6">
                 <div class="services-icon">
                        <img src="images/64x64x4.png" alt="64x64x4" />
                    </div>
                    <div class="services-pad services-res-bottom-1 services-res-bottom">
                        <h2 class="left h2-bottom "><a href="#">funerals</a></h2>
                        <p class="left">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.</p>
                    </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="services-icon">
                    <img src="images/64x64x5.png" alt="64x64x5" />
                </div>
                <div class="services-pad services-res-bottom">
                    <h2 class="left h2-bottom"><a href="#">ministry</a></h2>
                    <p class="left">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.</p>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="services-icon">
                    <img src="images/64x64x6.png" alt="64x64x6" />
                </div>
                <div class="services-pad">
                    <h2 class="left h2-bottom"><a href="#">sermon</a></h2>
                    <p class="left">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.</p>
                </div>
             </div>
        </div>
    </div>
</section>
