<section class="container-fluid section-space section-bg-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-md-push-6 res-image-bottom res-image-bottom-1">
                <div>
                    <img src="images/750x400.jpg" alt="image" class="img-responsive image-center" />
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-md-pull-6">
                <h2 class="left h2-bottom"><a href="#">be faithful in small things</a></h2>
                <p class="left p-bottom">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit. End of content.Donec varius sodales orci. </p>
                <div class="float-icon">
                    <img src="images/16x16x1.png" alt="icon" />
                </div>
                <div class="float-pad">
                    <p class="left list-bottom">Donec varius sodales orci. Class aptent taciti</p>
                </div>

                <div class="float-icon">
                    <img src="images/16x16x1.png" alt="icon" />
                </div>
                <div class="float-pad">
                    <p class="left list-bottom">Class aptent taciti sociosqu ad</p>
                </div>

                <div class="float-icon">
                    <img src="images/16x16x1.png" alt="icon" />
                </div>
                <div class="float-pad">
                    <p class="left list-bottom">Litora torquent per conubia nostra, per inceptos himenaeos</p>
                </div>

                <div class="float-icon">
                    <img src="images/16x16x1.png" alt="icon" />
                </div>
                <div class="float-pad">
                    <p class="left list-bottom">Aenean a arcu ullamcorper eros viverra suscipit</p>
                </div>

                <div class="float-icon">
                    <img src="images/16x16x1.png" alt="icon" />
                </div>
                <div class="float-pad">
                    <p class="left">Inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit.</p>
                </div>
            </div>
        </div>
    </div>
</section>