<section class="container-fluid section-space section-bg-2">
    <div class="container">
        <h1 class="center">a time for prayer</h1>
        <div class="center no-fs underline-bottom">
            <img src="{{site.baseurl}}/assets/images/uline.png" alt="uline" class="image-center" />
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 res-image-bottom res-image-bottom-1">
                <div>
                    <img src="images/750x430.jpg" alt="image" class="img-responsive image-center" />
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="services-icon">
                    <img src="images/64x64x7.png" alt="64x64x7" />
                </div>
                <div class="services-pad venue-row-space">
                    <h2 class="left h2-bottom"><a href="#">education</a></h2>
                    <p class="left">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.</p>
                </div>

                <div class="services-icon">
                    <img src="images/64x64x8.png" alt="64x64x8" />
                </div>
                <div class="services-pad venue-row-space">
                    <h2 class="left h2-bottom"><a href="#">funerals</a></h2>
                    <p class="left">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.</p>
                </div>

                <div class="services-icon">
                    <img src="images/64x64x9.png" alt="64x64x9" />
                </div>
                <div class="services-pad">
                    <h2 class="left h2-bottom"><a href="#">charity</a></h2>
                    <p class="left">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.</p>
                </div>
            </div>
        </div>
    </div>
</section>