<section class="container-fluid section-space section-bg-1">
    <div class="container">
        <h1 class="center">baptism</h1>
        <div class="center no-fs underline-bottom">
            <img src="{{site.baseurl}}/assets/images/uline.png" alt="uline" class="image-center" />
        </div>
        <div class="row">
            <div class="center col-md-10 column-center no-padding">
                <div class="col-md-6 col-sm-12 res-image-bottom res-image-bottom-1">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RuGHt2Ix_cI?rel=0"></iframe>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <h2 class="left h2-bottom"><a href="#">donec varius sodales</a></h2>
                    <p class="left p-bottom">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit. End of content.  End of content.Donec varius sodales orci. </p>
                    <p class="left">Donec varius sodales orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean a arcu ullamcorper eros viverra suscipit. End of content. Donec varius sodales orci.Aenean a arcu ullamcorper eros viverra suscipit.</p>
                </div>
             </div>
        </div>
    </div>
</section>