<section class="container-fluid section-space section-bg-2">
    <div class="container">
        <h1 class="center">Welcome to Golden Plains Baptist Church!</h1>
        <div class="center no-fs underline-bottom">
            <img src="{{site.baseurl}}/assets/images/uline.png" alt="uline" class="image-center" />
        </div>
        <div class="row">
            <div class="col-xs-12 res-image-bottom">
                We are an old-fashioned, Bible-believing, fundamental, independent Baptist Church, where you will hear the truth of the Gospel of Jesus Christ and be challenged to obedience to God.
            </div>
        </div>
    </div> 
</section> 